@font-face {
    font-family: 'work_sansblack';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-black-webfont.eot');
    src: url('/src/assets/fonts/worksans-black-webfont.eot');
    src: url('/src/assets/fonts/worksans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-black-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-black-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-black-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-black-webfont.svg#work_sansblack') format('svg');
  
  }
  @font-face {
    font-family: 'work_sansbold';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-bold-webfont.eot');
    src: url('/src/assets/fonts/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-bold-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-bold-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-bold-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-bold-webfont.svg#work_sansbold') format('svg');
  
  }
  @font-face {
    font-family: 'work_sansextrabold';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-extrabold-webfont.eot');
    src: url('/src/assets/fonts/worksans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-extrabold-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-extrabold-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-extrabold-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-extrabold-webfont.svg#work_sansextrabold') format('svg');
  
  }
  @font-face {
    font-family: 'work_sansextralight';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-extralight-webfont.eot');
    src: url('/src/assets/fonts/worksans-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-extralight-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-extralight-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-extralight-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-extralight-webfont.svg#work_sansextralight') format('svg');
  
  }
  @font-face {
    font-family: 'work_sanslight';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-light-webfont.eot');
    src: url('/src/assets/fonts/worksans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-light-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-light-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-light-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-light-webfont.svg#work_sanslight') format('svg');
  
  }
  @font-face {
    font-family: 'work_sansmedium';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-medium-webfont.eot');
    src: url('/src/assets/fonts/worksans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-medium-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-medium-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-medium-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-medium-webfont.svg#work_sansmedium') format('svg');
  
  }
  @font-face {
    font-family: 'work_sansregular';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-regular-webfont.eot');
    src: url('/src/assets/fonts/worksans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-regular-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-regular-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-regular-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-regular-webfont.svg#work_sansregular') format('svg');
  
  }
  @font-face {
    font-family: 'work_sanssemibold';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-semibold-webfont.eot');
    src: url('/src/assets/fonts/worksans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-semibold-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-semibold-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-semibold-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-semibold-webfont.svg#work_sanssemibold') format('svg');
  
  }
  @font-face {
    font-family: 'work_sansthin';
    font-weight: normal;
    font-style: normal;
    src: url('/src/assets/fonts/worksans-thin-webfont.eot');
    src: url('/src/assets/fonts/worksans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/worksans-thin-webfont.woff2') format('/src/assets/fonts/woff2'),
         url('/src/assets/fonts/worksans-thin-webfont.woff') format('/src/assets/fonts/woff'),
         url('/src/assets/fonts/worksans-thin-webfont.ttf') format('truetype'),
         url('/src/assets/fonts/worksans-thin-webfont.svg#work_sansthin') format('svg');
  
  }