$primary-color: #4dc5f2;
$primary_shade1:#1277D9;
$primary_shade2:#0b4a87;
$primary_shade3: #1277D9;
$primary-shade4: #186494;
$secondary-color: #D71996;
$secondary_shade1:#961169;
$red_shade: #e74c3c;
$primary_link:#1277d9;
$gray:#1d7ab4;
$gray_shade:#767676;
$gray_shade1:#1277d9;
$gray_shade2:#767676;
$gray_shade3:#40505B;
$light-blue-color: #cdecff;
$white:#fff;
$white_shade:#F5F9FA;
$white_shade_2:#F5F5F5;
$white_shade3:#f2f2f2;
$silver:#cccccc;
$silver_shade1:#cfd3d4;
$silver_shade2:#d7d7d7;
$silver_shade3:#ececec;
$black-color: #18191b;
$header-toolbar-bg-color: $light-blue-color;
$placeholder-text-color: #a4a4a4;
$input-text-color: #767676;
$focus-placeholder-text-color: #218acc;
$black: #18191b;