@import "./../../styles/style.mixin";

.wrap {
  min-height: 100%;
  .sideBar {
    width: 64px;
    max-width: 64px;
    transition: 0.5s ease all;
    &.open {
      width: 232px;
      max-width: 232px;
      @include for-phone-only {
        width: 232px;
      }
    }
    @include for-phone-only {
      &.close {
        width: 64px;
      }
      &.open {
        @include for-phone-only {
          width: 232px;
        }
      }
    }
  }
  .mainContainerHolder {
    transition: all 0.5s ease;
    .mainContainer {
      padding: $s14 $s20 $s20 $s18;
      @include for-phone-only {
        padding: $s14 $s10;
      }
      flex: 2;
      .pageView {
        height: 100%;
      }
    }
    .footer {
      text-align: center;
      font-size: $s14;
      font-family: "Work Sans";
      font-weight: $weight400;
      color: $State;
      @include for-phone-only {
        padding: $s14 $s20;
      }
    }
    // @include for-phone-only {
    //     position: relative;
    //     z-index: 1;
    // }
  }
  &.open {
    @include for-phone-only {
      overflow: hidden;
    }
  }
}
