<div class="formSection">
    <form [formGroup]="floorform" (ngSubmit)="floorFormFormSubmit()">
        <div class="formContainer row d-flex">
            <div class="form-group col">
                <mat-form-field>
                    <mat-label class="mat-label d-flex">
                        <span>Facility Name</span>
                        <span class="redAsterisk">
                            <i class="fa fa-asterisk" aria-hidden="true"></i>
                        </span>
                    </mat-label>
                    <input matInput placeholder="Enter Here" />
                </mat-form-field>
            </div>
            <div class="form-group col">
                <mat-form-field>
                    <mat-label class="mat-label d-flex">
                        <span>Building Name</span>
                    </mat-label>
                    <mat-select>
                        <mat-option>Select Form Dropdown</mat-option>
                        <mat-option *ngFor="let buildingName of buildingNames" [value]="buildingName">
                            {{buildingName.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div formArrayName="floorDetails">
            <div *ngFor="let formElement of floorFormGroup.controls; let i = index;">
                <div [formGroupName]="i" class="formContainer row d-flex" [ngClass]="i > 0 ? 'mt30' : 'null'">
                    <div class="form-group col left">
                        <mat-form-field>
                            <mat-label class="mat-label d-flex">
                                <span>Floors Number</span>
                                <span class="redAsterisk">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                                </span>
                            </mat-label>
                            <input matInput placeholder="Enter Here" />
                        </mat-form-field>
                    </div>
                    <div class="form-group col right">
                        <mat-form-field>
                            <mat-label class="mat-label d-flex">
                                <span>Floor Name</span>
                                <span class="redAsterisk">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                                </span>
                            </mat-label>
                            <input matInput placeholder="Enter Here" />
                        </mat-form-field>
                    </div>
                    <div class="form-group col left">
                        <div class="customUploadBtn">
                            <input type="file" class="ng-hide" id="uploadFlooremap" />
                            <label for="uploadFlooremap">
                                <span class="mat-select-placeholder">Upload Floor Map</span>
                                <span class="redAsterisk">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                                </span>
                                <span class="browseTxt">Browse</span>
                            </label>
                            <p class="deleteNode  uploadedDisplay">
                                <span>1 File Uploaded</span>
                                <span class="deleteFile">
                                    <a onclick="this.parentElement.parentElement.remove();" title="Delete Row">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group col right"></div>
                    <p class="deleteNode" *ngIf="i > 0">
                        <span class="deleteFile">
                            <a onclick="this.parentElement.parentElement.parentElement.remove();">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <!-- <div class="ngForHolder mt30" *ngFor="let formElement of  newFloorInfo">
            <div class="formContainer row d-flex">
                <div class="form-group col">
                    <mat-form-field>
                        <mat-label class="mat-label d-flex">
                            <span>Facility Name</span>
                            <span class="redAsterisk">
                                <i class="fa fa-asterisk" aria-hidden="true"></i>
                            </span>
                        </mat-label>
                        <input matInput placeholder="Enter Here" />
                    </mat-form-field>
                </div>
                <div class="form-group col">
                    <mat-form-field>
                        <mat-label class="mat-label d-flex">
                            <span>Building Name</span>
                        </mat-label>
                        <mat-select>
                            <mat-option>Select Form Dropdown</mat-option>
                            <mat-option *ngFor="let buildingName of buildingNames" [value]="buildingName">
                                {{buildingName.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="formContainer row d-flex">
                <div class="form-group col">
                    <mat-form-field>
                        <mat-label class="mat-label d-flex">
                            <span>Floors Number</span>
                            <span class="redAsterisk">
                                <i class="fa fa-asterisk" aria-hidden="true"></i>
                            </span>
                        </mat-label>
                        <input matInput placeholder="Enter Here" />
                    </mat-form-field>
                </div>
                <div class="form-group col">
                    <mat-form-field>
                        <mat-label class="mat-label d-flex">
                            <span>Floor Name</span>
                            <span class="redAsterisk">
                                <i class="fa fa-asterisk" aria-hidden="true"></i>
                            </span>
                        </mat-label>
                        <input matInput placeholder="Enter Here" />
                    </mat-form-field>
                </div>
            </div>
            <div class="formContainer row d-flex">
                <div class="form-group col">
                    <div class="customUploadBtn">
                        <input type="file" class="ng-hide" id="uploadFlooremap" />
                        <label for="uploadFlooremap">
                            <span class="mat-select-placeholder">Upload Floor Map</span>
                            <span class="redAsterisk">
                                <i class="fa fa-asterisk" aria-hidden="true"></i>
                            </span>
                            <span class="browseTxt">Browse</span>
                        </label>
                        <p class="deleteNode">
                            <span>1 File Uploaded</span>
                            <span class="deleteFile">
                                <a onclick="this.parentElement.parentElement.remove();">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group col"></div>
            </div>
            <p class="deleteNode">
                <span class="deleteFile">
                    <a onclick="this.parentElement.parentElement.parentElement.remove();">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </p>
        </div> -->
        <div class="formContainer row d-flex justify-content-end align-items-center cancle-save">
            <a (click)="addFloor()" class="addBuilding"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                Floor</a>
            <a (click)="cancelBuildingForm()">Cancel</a>
            <button mat-button
            class="defaultBtn purpleBtn">Save</button>
        </div>
    </form>
</div>